/**
 * Created by roboterra_rd on 2017/10/12.
 */
.com{
    font-size:20px;
    width:600px;
}
.login_container{
    /* 这里的composes属性，就会在组件引用middleContent属性的时候，会复用了com属性，如果属性名有重复，按照middleContent执行*/
    /* CSS Modules 只会转变类选择器*/
    /*同时 css Modules 建议遵循以下原则：
    CSS Modules 是对现有的 CSS 做减法。为了追求简单可控，作者建议遵循如下原则：

不使用选择器，只使用 class 名来定义样式
不层叠多个 class，只使用一个 class 把所有样式定义好
所有样式通过 composes 组合来实现复用
不嵌套

    */

    width:400px;
    height:300px;
    background: lightblue;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /*这里是配合composes来使用*/
    composes:com;
}

.login_container p{
    text-align: center;
}

.login_form{
    background: lightyellow;
    padding: 20px;

}
.login_form ul li input{
    color: blue;
    font-size: 14px;
    border-radius: 3px;
    width:200px;
    height: 30px;
    box-shadow: none;
}
.login_form ul li{
    width:90%;
    margin:0 auto;
    list-style: none;
    margin-top: 20px;
}
.login_header{
    text-align: center;
    letter-spacing: 16px;
}

.register_warn {
    margin-left:10px;
    color: red;
    text-decoration: none;
    font-size: 14px;
    font-weight:500;
    float: right;
    display: table-cell;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
}
.btn_login{
    height:30px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    width:40%;
    border-radius: 4px;
    background: lightgreen;
    border:none;
}
.background{
    /*这里的路径应该是绝对路径*/
    background-image: url(/static/images/123.jpeg);
    /*background-image: url(./app/components/loginComponent/123.jpeg);*/
}