body,html{
    margin: 0;
    padding: 0;
}
body {
    background-color: #ddd;
}
.listLink{
    color: red;
    font-weight:bold;
    font-size:20px;
}

.login_form ul li{
    width:90%;
    margin:0 auto;
    list-style: none;
    margin-top: 20px;
}
